.resume_main{background:#fff;}
.resume_m2 .info_item-null{display:none;}
.resume_m1,.resume_m2,.resume_m3{padding:0 60px;background: inherit;text-align: center;}
.resume_m1{position:relative;margin: 0 0 10px 0;padding-top: 25px;text-align: center;}
.resume_main .resume_m3 .resume_item:first-child dl{padding-top:0px !important;}
.resume_main .head_item{display: inline-block;float: right;right: -14px;}
.resume_main .head_item dd {padding-bottom: 0px;}
.name_item dl,.base_info_item dl{padding:0;}
.resume_main .base_info_item .info_item_list{display:inline-block;}
.resume_main .base_info_item .info_item_list a.alifont{display:none;}
.resume_main .base_info_item .info_item_list span{display:block; padding-right:5px; margin-right:5px; line-height:1.2; border-right:2px solid #b8b8b8;}
.resume_main .base_info_item .info_item_list:last-child span,
.resume_main .base_info_item .info_item_list.last-child span{border-right:none; padding-right:0; margin-right:0;}
.name_item,.base_info_item{text-align:center;display: inline-block;max-width: 513px;min-width:395px;margin-left: 75px;}
.name_item .name-con{padding: 20px 0 0px;}
.name_item .name-con .name{line-height:1.1; margin-bottom:22px; color:#222;}
.resume_main .base_info_item dl{padding:5px 0 !important;min-height: 50px;}

.resume_main .resume_item dl dt{height:40px;line-height:34px;padding-bottom:10px;border-bottom: 1px solid #000000;margin-bottom:10px;}
.resume_item dl dt span.resume_item_title_span{color:#222;}
.resume_item dl dt a.alifont{display:none;}

.resume_main  .resume_item .resume_item_list_title span.time,
.resume_main  .resume_item .resume_item_list_title span.location{width:50%; font-weight:bold; font-size:14px; color:#666;}
.resume_main  .resume_item .resume_item_list_title span.location{float:right; margin-right:0; text-align:right;}
.resume_main  .resume_item .resume_item_list_title span.role{float:none; clear:both; width:60%; font-size:14px; color:#666;}
.resume_main  .resume_item .resume_item_list_title span.time{width:35%;}

.resume_main .skill_item dl dd,.resume_main .hobby_item dl dd{position:relative; padding-top:20px;}
.resume_main .resume_m2 .skill_item .skill_item_list{margin: 0 18px 15px !important;}
.resume_main .skill_item .skill_slider span::before{background-color:#fff !important;}
.resume_m2 .work_list .work_title, 
.resume_m2 .work_list,
.resume_main .work_list{width:30%; margin-right:5%;}
.resume_main .work_list:nth-of-type(even){margin-right:5%;}
.resume_main .work_list:nth-of-type(odd){clear:none;}
.resume_main .work_list:nth-of-type(3n){margin-right:0;}
.resume_main .work_list:nth-of-type(3n+1){clear:both;}

.resume_main[modal_margin='0'] .name_item .name-con{padding-top: 0px;}
.resume_main[modal_margin='0.2'] .name_item .name-con{padding-top: 4px;}
.resume_main[modal_margin='0.4'] .name_item .name-con{padding-top: 8px;}
.resume_main[modal_margin='0.6'] .name_item .name-con{padding-top:12px;}
.resume_main[modal_margin='0.8'] .name_item .name-con{padding-top:16px;}
.resume_main[modal_margin='1'] .name_item .name-con{padding-top:20px;}

.resume_main[modal_margin='0'] .resume_m1{padding-top: 10px;}
.resume_main[modal_margin='0.2'] .resume_m1{padding-top: 14px;}
.resume_main[modal_margin='0.4'] .resume_m1{padding-top: 18px;}
.resume_main[modal_margin='0.6'] .resume_m1{padding-top:22px;}

.resume_main[modal_margin='0'] .head_item{margin-top: -18px;}
.resume_main[modal_margin='0.2'] .head_item{margin-top: -20px;}
.resume_main[modal_margin='0.4'] .head_item{margin-top: -15px;}
.resume_main[modal_margin='0.6'] .head_item{margin-top:-10px;}

