@charset "UTF-8";
/* ymdate时间选择 */
.ymdate_layer .ymdate_year::-webkit-scrollbar{width:6px; height:6px; }
.ymdate_layer .ymdate_year::-webkit-scrollbar-track{background-color:#dfe6f1;}
.ymdate_layer .ymdate_year::-webkit-scrollbar-thumb{background-color:#a0afc5;border-radius:10px;cursor:pointer;}
.ymdate_layer .ymdate_year::-webkit-scrollbar-thumb:hover {opacity:.8; }
.ymdate_layer .ymdate_year::-webkit-scrollbar-thumb:active {background-color:#a0afc5; }
.ymdate_layer {width: 421px;height: 160px;border: 1px solid rgb(205, 217, 237);border-left: none;border-radius: 2px;background-color: rgb(255, 255, 255);box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);font-size: 14px;z-index: 999;-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;}
.ymdate_layer ul , .ymdate_layer li { list-style: none; padding: 0; margin: 0; }
.ymdate_layer .ymdate_year {float: left;width: 60px;height: 158px;overflow: auto;font-size: 12px;border-left: 1px solid rgb(205, 217, 237);}
.ymdate_layer .ymdate_year li {width: 100%;height: 33px;cursor: pointer;line-height: 33px;background-color: #fff;color: #455162;text-align: center;font-size: 12px;}
.begin_date ul.ymdate_year .uptonow {
    display: none;
}
.ymdate_layer .ymdate_year li:hover { background-color: #f4f4f4 !important; color: #333 !important; }
.ymdate_layer .ymdate_year li.active {background-color: #dbe9ff !important;color: #0064fa !important;}
.ymdate_layer .ymdate_year li.disable { background-color: #fff !important; color: silver !important; }
.ymdate_layer .ymdate_month {float: left;width: 150px;height: 158px;padding: 15px;word-wrap: normal;background-color: #fff;}
.ymdate_layer .ymdate_month li {float: left;cursor: pointer;width: 40px;height: 24px;line-height: 22px;color: #333;background-color: #fff;margin: 0 0px 10px 0;text-align: center;}
.ymdate_layer .ymdate_month li span { padding: 4px 6px; border-radius: 3px; }
.ymdate_layer .ymdate_month li.active span {background-color: #e7eef8 !important;color: #455162 !important;}
.ymdate_layer .ymdate_month li.disable { background-color: #fff!important; }
.ymdate_layer .ymdate_month li.disable span { color: silver!important;  }
.ymdate_layer .ymdate_month li span:hover { background-color: #f4f4f4; color: #333; }